
nav{
	padding: 30px;
	background-color: black;
	color: white;
	width: 100%;
	margin-left:0px;
	padding-left:0px;
}



ul, li{
	display: inline;
	text-decoration: none;
}


content{
	margin-top: 150px;
}

.col-md-6{
	height: 100px;
	background: lightblue;
	border: 2px dotted lightgray;
	margin: 20px;
}