
nav{
	padding: 30px;
	background-color: black;
	color: white;
	width: 100%;
	margin-left:0px;
	padding-left:0px;
}



ul, li{
	display: inline;
	text-decoration: none;
}


content{
	margin-top: 150px;
}

table{
	padding: 0px;
}

td{
	text-align: left;
	padding: 0px;

}

p{
	font-style: italic;
	font-size: 9pt;
	margin-left: 300px;
	display: inline;
}
